---
layout: default
title: FAQ
permalink: /faq/
---
<div id="accordion">
    <div style="background-image: url(/assets/images/Banff2.jpg);height:400px;background-size:cover;">
        <div class="container service-title-wrapper h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="text-center">
                    <h2 class="service-title">FAQ</h2>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="faq-wrapper container">
        <div class="service-body">
            <div class="card">
                {% assign sorted_faq = site.faq | sort:"order" %}
                {% for faq in sorted_faq %}
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link faq-header" data-toggle="collapse" data-target={{ "#collapse" |
                            append: faq.title }} aria-expanded="false" aria-controls={{ "collapse" | append:
                            forloop.index }}>
                            > {{ faq.title }}
                        </button>
                    </h5>
                </div>
                <div id={{ "collapse" | append: faq.title }} class="collapse container" aria-labelledby={{ "heading" | append:
                    forloop.index }} data-parent="#accordion">

                    <div class="card-body">
                        {{ faq.content }}
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="service-wrapper"><a class="btn btn-outline-secondary service-button" role="button" href="/request-call/">Request Phone
            Call</a>
    </div>
</div>
{% include reviews.html %}