{% include header.html %}
<div id="accordion">
    <div style="background-image: url(/assets/images/Banff2.jpg);height:400px;background-size:cover;">
        <div class="container service-title-wrapper h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="text-center">
                    <h2 class="service-title">FAQ</h2>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    {% for faq-page in site.data.faq %}
    {% assign faq = faq-page[1] %}
    <div class="container service-wrapper">
        <div class="service-body">
            <h1>{{ faq.title }}</h1>
            {% for question-item in faq.questions %}
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target={{ "#collapse" | append:
                            forloop.index }} aria-expanded="false" aria-controls={{ "collapse" | append: forloop.index
                            }}>
                            {{ question-item.question }}
                        </button>
                    </h5>
                </div>

                <div id={{ "collapse" | append: forloop.index }} class="collapse" aria-labelledby={{ "heading" | append:
                    forloop.index }} data-parent="#accordion">
                    <div class="card-body">
                        {{ question-item.answer | markdownify }}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        <div><a class="btn btn-outline-secondary service-button" role="button" href="/request-call/">Request Phone
                Call</a>
        </div>
    </div>
</div>
{% include reviews.html %}
{% include footer.html %}